<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Index - Metro Mania</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>


  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="logo">
          <h1>TO KASIULKA</h1>
          <div class="hmeta">The Only One For Me!</div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->

<!-- Navigation bar ends -->

<!-- Slider starts -->

<div class="full-slider">
  <!-- Slider (Flex Slider) -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
          <ul class="slides">

            <li>

              <!-- Slider content -->
              <div class="flex-caption">
                <!-- Left column -->
                <div>

                  <h2>HAPPY VALENTINES</h2>

                  <h6>OUR 3rd OF MANY MORE!</h6>


                </div>
              </div>

            </li>
            <li>

              <!-- Slider content -->
              <div class="flex-caption">
                <!-- Left column -->
                <div style="float:right">

                  <h2>HAPPY VALENTINES</h2>

                  <h6>I LOVE YOU SO MUCH!</h6>


                </div>
              </div>

            </li>
            <li>

              <!-- Slider content -->
              <div class="flex-caption">
                <!-- Left column -->
                <div>

                  <h2>HAPPY VALENTINES</h2>

                  <h6>YOU'RE MY QUEEN BEAN!</h6>


                </div>
              </div>

            </li>



          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider Ends -->

<div class="content">
<div class="container">


<!-- Hero Unit -->

<div class="row center">
  <div class="col-md-12">

    <div class="bor"></div>

    <h2>Kasiula! Welcome!</h2>
    <p>We're going to enjoy our strawberries and ice skate and eat and more! I'm so excited to spend this day (Feb. 15th) with you!</p>
    <div class="bor"></div>
    <hr />
  </div>
</div>

<!-- Hero Ends -->


<div class="row">
  <div class="col-md-12">

    <div class="bor"></div>

    <!-- Image blocks starts -->

    <ul class="hover-block">

      <li>

        <a href="#">
          <!-- Image -->
          <img src="/assets/amc-theaters.jpg" alt="" />
          <!-- Content with background color Class -->
          <div class="hover-content b-orange">
            <h6>Our First Date</h6>
            You didn't even order popcorn because you didn't want to seem weird, and then we finally held each others hands for te whole movie :)
          </div>
        </a>

      </li>


      <li>

        <a href="#">
          <img src="/assets/French-Bulldog.png" alt="" />
          <div class="hover-content b-red">
            <h6>Our Future Princess</h6>
            Princess Pierre going to come in every morning to lick our toesies and our nosies till we wake up :)
          </div>
        </a>

      </li>


      <li>

        <a href="#">
          <img style="width:100%" src="/assets/kasia.JPG" alt="" />
          <div class="hover-content b-purple">
            <h6>My Smart Bean</h6>
            You're going to be a great pharmacist one day! And that day is not too far away!
          </div>
        </a>

      </li>


      <li>

        <a href="#">
          <img style="width:100%" src="/assets/ustogether.jpg" alt="" />
          <div class="hover-content b-lblue">
            <h6>Together <3</h6>
             We're always such cute crazy beans :)
            </div>
        </a>

      </li>

    </ul>

    <div class="clearfix"></div>

    <!-- Image blocks ends -->
  </div>
</div>

<div class="bor"></div>

<hr />


<!-- Discover starts -->

<div class="discover">
  <div class="row">
    <h3 align="center">Check Out More!</h3>
    <div class="alert" id="alert" align="right" style="display:none;color:#ff0000">
      Wrong Answer, Please Try Again!
    </div>
    <div id="rightanswer" style="display:none">
      <bold>To My Bean:</bold> <br/>

      I wanted to write cute things so i put that question answer in here :).
      I'm so in love with you, and while writing/making this page I got tinglies multiple times because I just can't stop thinking of how great our future together is going to be.
      You're my everything and I will do everything possible to make sure you're my queen bean for the rest of my life.
      You're my soulmate and I know that! Ever since we had that cute moment on our first day where we just held each others hands for the entire movie
      I knew that you're the perfect girlfriend material, even if you don't believe so.
      You're a smart, amazing woman that I will spend an eternity with you! I truly believe that!

      Enjoy the fruit basket before I eat it :).
      <br/>
      Your Bean,
      <br/>
      Tarasek.
      <br/>
      <br/>
      PS: I tried drawing our first date :( :
      <div id="itrieddrawing">
        <div class="image-row">
          <a class="example-image-link" href="/assets/itrieddrawing.png" data-lightbox="example-1"><img class="example-image" src="/assets/itrieddrawing.png" alt="thumb-1" width="150" height="150"></a>        </div>
      </div>
    </div>
    <div class="col-md-12" id="enterAnswer">
      <br/>
      <div class="col-lg-6">
      <div class="big grey" align="right" style="padding-top:5px">Enter our first movie together :)    </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input id="answer" type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="enterAnswer()">Go!</button>
      </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</div>
  <script>
      function enterAnswer(){
         var answer = $('#answer').val();
         answer = answer.toLowerCase();
         if (answer == "hangover 2" || answer == "hangover" || answer == "hangover2")
         {
           $('#rightanswer').show();
           $('#enterAnswer').hide();
           $('#alert').hide();
         }
         else {
           $('#alert').show();
         }
      }
      function openPicture(){

      }
  </script>

<!-- Disconver ends -->
<hr />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- Color blocks ends -->


</div>
</div>


<!-- JS -->
</body>
</html>